body{
    font-family: Arial, sans-serif;
    text-align: left ;
    margin: 0;
    padding: 0;
}

*{
    margin:0;
    padding:0;
}
.head{
    text-align: right ;
    margin-right: 20px;
    padding-right: 20px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-attachment: fixed;
}

.logo{
    text-align: right ;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: #4958ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    z-index: 999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

div{
    padding: 50px 20px;
    margin: 10px 20px;
}

.box{
    border: 100px #4958ff ;
    box-shadow: 0px 40px 10px #3a3737;
}

.box h1{
    text-align: center;
}

.box h2{
    text-align: center;
}

.box h3{
    text-align: center;
}

.box img{
    margin-left: 25% ;
    margin-right: 50% ;
    text-align: center;
}

.box p{
    text-align: right;
}

.box li{
    text-align: left ;
    margin-left: 5% ; 
}

.box table{
    text-align: center;
    margin-left: 40% ;
    border: 5px #3a3737 solid;
}

.box tr{
    text-align: right;
    margin-left: 40% ;
    border: 5px #3a3737 solid;
}

.box  td{
    border: 1px #3a3737 solid;
}

.end{
    background-color: rgb(63, 63, 63);
    width: 100%;
    color: #4958ff;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    z-index: 999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
}

.end p{
    text-align: center;
}

.end ul li a{
    color: black;
    text-align: right ;
    margin-right: 20px;
    padding-right: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
}
